---
const themes = [
  "primary",
  "secondary",
  "success",
  "info",
  "orange",
  "error",
  "gray",
  "black",
  "white",
];
---

{
  themes.map((theme) => {
    return (
      <>
        <button class={`btn ${theme}`}>{theme}</button>
      </>
    );
  })
}
