---
import { BaseLayout } from 'wtqdocs'
import '../custom.scss'

const { frontmatter } = Astro.props;

---

<BaseLayout>
  <main id="main-content">
    <section class="hero">
      <h1 class="title">

        {frontmatter.title}
      </h1>
      <h2 class="subtitle">
        {frontmatter.subtitle}
      </h2>
      <div class="get-started flex gap-5">
        <a href="/docs/getting-started/overview">
          <button class="btn primary">Get started</button>
        </a>
      </div>
    </section>
  </main>
</BaseLayout>
