---

---

<!--  -->
<nav class="navbar">
  <a href="/"
    ><div class="brand">
      <img alt="logo" width="50" height="50" src="/fruitUI.png" />
      <p>FruitUI</p>
    </div></a
  >
  <div class="toggle">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
  <ul class="navbar-links">
    <li>
      <a class="btn" href="/docs/overviwe">docs</a>
    </li>
    <li>
      <a class="btn" href="/layout">blog</a>
    </li>
  </ul>
</nav>
