---
interface Props {
  brand: {
    name?: string;
    logo?: string;
  };
  Items: { href?: string; item?: string }[];
}

const { brand, Items } = Astro.props;
---

<nav class="wtq-navbar" role="navigation">
  <a href="/" aria-label="Go to the homepage">
    <div class="wtq-brand">
      <img alt="logo" width="40" height="40" src={brand.logo} />
      <span>{brand.name}</span>
    </div>
  </a>
  <span class="wtq-toggle" aria-expanded="false" aria-haspopup="true" role="menu"></span>
  <ul class="wtq-links">
    {
      Items.map((Item) => {
        return (
          <li>
            <a href={Item.href}>{Item.item}</a>
          </li>
        );
      })
    }
  </ul>
</nav>

<script>
  const navbar = document.querySelector(".wtq-navbar");
  document.querySelector(".wtq-toggle")?.addEventListener("click", () => {
    navbar?.classList.toggle("wtq-active");
  });
</script>
