---
import { Image } from "astro:assets";

import WathqnyConfig from "../wathqny.config";

const { navbar } = WathqnyConfig;

import logo_image from "../assets/treadmark.svg"
---

<nav class="wtq-navbar" role="navigation">
  <div class="wtq-navbar-overlay" aria-hidden></div>
  <a href="/" aria-label="Go to the homepage" >
    <div class="wtq-brand">
      <Image alt="fruitUI logo, an beautiful orange with a gradient background"  width={40} height={40} src={logo_image} />
      <span>{navbar?.brand.name}</span>
    </div>
  </a>
  <span
    tabindex="0"
    role="button"
    aria-label="hamburger-menu"
    class="wtq-toggle"></span>
    <ul class="wtq-links">
    <li class="theme-swicher">
    </li>
    {
      navbar?.Items.map((Item) => {
        return (
          <li>
            <a href={Item.href}>{Item.item}</a>
          </li>
          );
        })
      }
  </ul>
</nav>

<script>
  import { navbar } from "./navbar";

  navbar();

  if(localStorage.getItem("theme") == "dark") {
    document.body.classList.add("dark")
  }

  document.querySelector(".theme-swicher")?.addEventListener("click", ()=> {
    
    if(document.body?.classList.contains("dark")) {
      document.body.classList.remove("dark")
      localStorage.setItem("theme", "light")
    } else {
      localStorage.setItem("theme", "dark")
      document.body.classList.add("dark")
    }
  })
</script>
