---
import { Image } from "astro:assets";

import WathqnyConfig from "../wathqny.config";

const { navbar } = WathqnyConfig;
---

<nav class="wtq-navbar" role="navigation">
  <div class="wtq-navbar-overlay" aria-hidden></div>
  <a href="/">
    <div class="wtq-brand">
      <Image alt="fruitUI logo, an beautiful orange with a gradient background"  
      width={40} height={40} src={navbar?.brand.logo as string}/>
      <span>{navbar?.brand.name}</span>
    </div>
  </a>
  <span
    tabindex="0"
    role="button"
    aria-label="hamburger-menu"
    class="wtq-toggle"></span>
    <ul class="wtq-links">
      {
        navbar?.Items.map((Item) => {
          return (
            <li>
              <a href={Item.href}>{Item.item}</a>
            </li>
          );
        })
      }
      <li class="theme-swicher" aria-label="dark mode toggler"></li>
    </ul>
</nav>

<script src="./navbar.ts"></script>
