---
interface Props {
  brand: {
    name?: string;
    logo?: string;
  };
}

const { 
  brand
} = Astro.props

---

<nav class="wtq-navbar">
  <a href="/">
    <div class="wtq-brand">
      <img alt="logo" width="40" height="40" src={brand.logo} />
      <p>{brand.name}</p>
    </div>
  </a>
  <span class="wtq-toggle"></span>
  <ul class="wtq-links">
    <a href="/docs/overview">
      <li>docs</li>
    </a>
  </ul>
</nav>

<script>
  const navbar = document.querySelector(".wtq-navbar");
  document.querySelector(".wtq-toggle")?.addEventListener("click", () => {
    navbar?.classList.toggle("wtq-active");
  });
  console.log(true);
  
  if(navbar?.classList.contains("wtq-active") == true) {
    console.log(true);
    document.addEventListener("click", (e) => {
      if (e.target.classList != "wtq-navbar") {
        navbar?.classList.remove("wtq-active");
      }
    })
  }
</script>
