---

---

<nav class="wtq-navbar">
  <a href="/">
    <div class="wtq-brand">
      <img alt="logo" width="40" height="40" src="/fruitUI.png" />
      <p>FruitUI</p>
    </div>
  </a>
  <div class="wtq-toggle">
    <span class="wtq-bar"></span>
    <span class="wtq-bar"></span>
    <span class="wtq-bar"></span>
  </div>
  <ul class="wtq-navbar-links">
    <li>
      <a href="/docs/test">docs</a>
    </li>
  </ul>
</nav>

<script>
  const navbar = document.querySelector(".wtq-navbar");
  document.querySelector(".wtq-toggle")?.addEventListener("click", () => {
    navbar?.classList.toggle("wtq-active");
  });
</script>
