---
interface Props {
  brand: {
    name?: string;
    logo?: string;
  };
}

const { brand } = Astro.props;
---

<nav class="wtq-navbar" role="navigation" >
  <a href="/" aria-label="Go to the homepage">
    <div class="wtq-brand">
      <img alt="logo" width="40" height="40" src={brand.logo} />
      <span>{brand.name}</span>
    </div>
  </a>
  <span class="wtq-toggle" aria-expanded="false" aria-haspopup="true"></span>
  <ul class="wtq-links">
    <li><a href="/intro/overview">docs</a></li>
  </ul>
</nav>

<script>
  const navbar = document.querySelector(".wtq-navbar");
  document.querySelector(".wtq-toggle")?.addEventListener("click", () => {
    navbar?.classList.toggle("wtq-active")
  });
</script>
