

$accent-20: rgb(254, 254, 254) !default;
$accent-50: #fdfdfd !default;
$accent-100: #f4f4f5 !default;
$accent-200: #e4e4e7 !default;
$accent-300: #d4d4d8 !default;
$accent-400: #a1a1aa !default;
$accent-500: #71717a !default;
$accent-600: #52525b !default;
$accent-700: #3f3f46 !default;
$accent-800: #27272a !default;
$accent-900: #18181b !default;
$accent-950: #0f0f11 !default;

$font-3xl: 2.986rem;
$font-2xl: 2.488rem;
$font-xl: 2.074rem;
$font-lg: 1.728rem;
$font-md: 1.44rem;
$font-sm: 1.2rem;
$font-xs: 1rem;

@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  src: url("/font/InterVariable.woff2") format("woff2");
  font-display: optional;
}

:root {
  --font-3xl: #{$font-3xl};
  --font-2xl: #{$font-2xl};
  --font-xl: #{$font-xl};
  --font-lg: #{$font-lg};
  --font-md: #{$font-md};
  --font-sm: #{$font-sm};
  --font-xs: #{$font-xs};
  color: var(--accent-900);
  background-color: var(--body-background);
  color-scheme: light dark;

  &.light {
    color-scheme: light;
    --accent-20: #{$accent-20};
    --accent-50: #{$accent-50};
    --accent-100: #{$accent-100};
    --accent-200: #{$accent-200};
    --accent-300: #{$accent-300};
    --accent-400: #{$accent-400};
    --accent-500: #{$accent-500};
    --accent-600: #{$accent-600};
    --accent-700: #{$accent-700};
    --accent-800: #{$accent-800};
    --accent-900: #{$accent-900};
    --accent-950: #{$accent-950};
    --background-hover: #00000010;
    --body-background: white;
    --navbar-background: white;

    --sidebar-border-color: #{rgba($accent-900, 0.2)};
  }

  @media (prefers-color-scheme: light) {

    --accent-20: #{$accent-20};
    --accent-50: #{$accent-50};
    --accent-100: #{$accent-100};
    --accent-200: #{$accent-200};
    --accent-300: #{$accent-300};
    --accent-400: #{$accent-400};
    --accent-500: #{$accent-500};
    --accent-600: #{$accent-600};
    --accent-700: #{$accent-700};
    --accent-800: #{$accent-800};
    --accent-900: #{$accent-900};
    --accent-950: #{$accent-950};
    --background-hover: #00000010;
    --body-background: white;
    --navbar-background: white;

    --sidebar-border-color: #{rgba($accent-900, 0.2)};

  }

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    --accent-50: #{$accent-900};
    --accent-20: #{$accent-800};
    --accent-100: #{$accent-800};
    --accent-200: #{$accent-700};
    --accent-300: #{$accent-600};
    --accent-400: #{$accent-500};
    --accent-500: #{$accent-400};
    --accent-600: #{$accent-300};
    --accent-700: #{$accent-200};
    --accent-800: #{$accent-100};
    --accent-900: #{$accent-50};
    --background-hover: #ffffff10;
    --body-background: #{$accent-900};
    --navbar-background: #252529;

    --sidebar-border-color: #{rgba($accent-50, 0.2)};
  }

}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  word-wrap: break-word;
  overflow: hidden;
  line-height: 1.5;
  scroll-behavior: smooth;
  font-size: 20px;
  height: 100%;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  -moz-tab-size: 4;
  tab-size: 4;
  margin: 0;
}

hr {
  height: 0;
  color: inherit;
}

b,
strong {
  font-weight: 800;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
  font-size: 1em;
}

pre {
  padding: 15px 20px;
  border-radius: 10px;
  margin-block: 5px;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
}

button,
select {
  text-transform: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

#root,
#__next {
  isolation: isolate;
}

a {
  color: inherit;
  text-decoration: none;

  &:focus-visible {
    text-decoration: underline;
  }
}

hr {
  border: 1px solid #dadada;
}

// type scaling based on 1.333 – Perfect Fourth
.h1,
h1 {
  margin: 3rem 0 0.5rem;
  line-height: 1.1;
  font-size: 2.986rem;
}

.h2,
h2 {
  margin: 2rem 0 0.5rem;
  line-height: 1.25;
  font-size: 2.488rem;
}

.h3,
h3 {
  margin: 2rem 0 0.5rem;
  line-height: 1.3;
  font-size: 2.074rem;
}

.h4,
h4 {
  line-height: 1.4;
  font-size: 1.728rem;
  margin: 2rem 0 1rem;
}

.h5,
h5 {
  font-size: 1.44rem;
  line-height: 1.5;
  margin: 2rem 0 1rem;
}

.h6,
h6 {
  margin: 2rem 0 1rem;
  line-height: 1.2;
  font-size: 1.2rem;
}

.p,
p {
  line-height: 1.3;
  font-weight: 400;
  font-size: 1rem;
}

small {
  font-size: 0.833rem;
}

.h1,
h1,
.h2,
h2 {
  font-weight: 800;
}

.h3,
h3,
.h4,
h4 {
  font-weight: 700;
}

.h5,
h5,
.h6,
h6 {
  font-weight: 600;
}



@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}