.wtq-breadcrumbs {
  margin-top: 20px;
  display: flex;
  align-items: center;
  color: inherit;
  list-style: none;
  li {
    align-items: center;
    display: flex;
  }
  .wtq-breadcrumb {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    gap: 5px;
    border-radius: 8px;
    cursor: pointer;
    color: $gray-700;
    &:hover,
    &:focus-visible {
      outline: none;
      background-color: #00000010;
    }
  }
  .arrow-icon {
    transform: rotate(90deg);
    color: $gray-700;
  }
}
