.wtq-breadcrumbs {
  margin-top: 20px;
  display: flex;
  align-items: center;
  color: inherit;
  .wtq-breadcrumb {
    font-size: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    gap: 5px;
    border-radius: 8px;
    cursor: pointer;
    color: $gray-700;
    &:last-child {
      background-color: #00000010;
    }
    &:hover {
      background-color: #00000010;
    }
  }
  .arrow-icon {
    transform: rotate(90deg);
    color: $gray-700;
  }
}
