.#{$prefix}-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 1rem;
  height: 50px;
  position: relative;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba($gray-800, 0.15);
  color: $gray-800;
  .#{$prefix}-brand {
    padding: 3px 5px;
    border-radius: 0.3em;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;

    align-items: center;
    gap: 6px;
    img {
      width: 30px;
      height: 30px;
    }
    span {
      font-weight: 500;
    }
  }
  .#{$prefix}-links {
    will-change: transform;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.47, 0, 0.75, 0.72);
    list-style: none;
    padding: 0px 1rem;
    display: flex;
    gap: 1rem;
    background-color: inherit;
    li {
      font-size: 0.875rem;
      cursor: pointer;
      a {
        padding: 3px 5px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    &.#{$prefix}-active {
      .#{$prefix}-links {
        opacity: 100%;
        transform: translateX(0%);
      }
      .#{$prefix}-toggle {
        will-change: transform;
        top: -3px;
        &::before {
          top: 10px;
          position: relative;
          transform: rotate(45deg);
        }
        &::after {
          transform: rotate(-45deg);
        }
      }
    }
    .#{$prefix}-toggle {
      width: 40px;
      height: 40px;
      padding: 10px;
      top: 3px;

      display: flex;
      position: relative;
      flex-direction: column;
      gap: 6px;
      cursor: pointer;
      &::before {
        background-color: currentColor;
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 10px;
      }
      &::after {
        background-color: currentColor;
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 10px;
      }
    }
    .#{$prefix}-links {
      padding: 1rem 0px;
      opacity: 0;
      transform: translateX(-150%);
      flex-direction: column;
      position: absolute;
      top: 50px;
      left: 0;
      width: 50%;
      gap: 0;
      height: calc(100vh - 50px);
      text-align: center;
      li {
        padding: 10px;
        background-color: inherit;
        &:hover {
          filter: brightness(1.1);
        }
      }
    }
  }
}
