.theme-swicher {
  content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cg transform="translate(24 0) scale(-1 1)"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cpath d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"%2F%3E%3Cpath fill="currentColor" d="M13.574 3.138a1.01 1.01 0 0 0-1.097 1.408a6 6 0 0 1-7.931 7.931a1.01 1.01 0 0 0-1.409 1.097A9 9 0 0 0 21 12a9.001 9.001 0 0 0-7.426-8.862"%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

:is(html ,body).dark .theme-swicher {
  content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cg transform="translate(24 0) scale(-1 1)"%3E%3Cg fill="none"%3E%3Cpath d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"%2F%3E%3Cpath fill="currentColor" d="M12 19a1 1 0 0 1 1 1v1a1 1 0 1 1-2 0v-1a1 1 0 0 1 1-1m6.364-2.05l.707.707a1 1 0 0 1-1.414 1.414l-.707-.707a1 1 0 0 1 1.414-1.414m-12.728 0a1 1 0 0 1 1.497 1.32l-.083.094l-.707.707a1 1 0 0 1-1.497-1.32l.083-.094zM12 6a6 6 0 1 1 0 12a6 6 0 0 1 0-12m-8 5a1 1 0 0 1 .117 1.993L4 13H3a1 1 0 0 1-.117-1.993L3 11zm17 0a1 1 0 1 1 0 2h-1a1 1 0 1 1 0-2zM4.929 4.929a1 1 0 0 1 1.32-.083l.094.083l.707.707a1 1 0 0 1-1.32 1.497l-.094-.083l-.707-.707a1 1 0 0 1 0-1.414m14.142 0a1 1 0 0 1 0 1.414l-.707.707a1 1 0 1 1-1.414-1.414l.707-.707a1 1 0 0 1 1.414 0M12 2a1 1 0 0 1 1 1v1a1 1 0 1 1-2 0V3a1 1 0 0 1 1-1"%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}


:is(html,body).dark .#{$prefix}-navbar {
  background-color: #252529;
  color: white;
}

.#{$prefix}-navbar {
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.47, 0, 0.75, 0.72);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 1rem;
  height: 50px;
  position: relative;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba($gray-800, 0.15);
  color: $gray-800;
  &-overlay {
    display: none;
    opacity: 0;
  }

  .#{$prefix}-brand {
    padding: 3px 5px;
    border-radius: 0.3em;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    img {
      width: 30px;
      height: 30px;
    }
    span {
      font-weight: 600;
    }
  }
  .#{$prefix}-links {

    will-change: transform;

    list-style: none;
    padding: 0px 1rem;
    display: flex;
    gap: 1rem;
    background-color: inherit;
    li {
      font-size: 0.875rem;
      cursor: pointer;
      a {
        padding: 3px 5px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .wtq-active &-overlay {
      opacity: 1;
      display: block;
      pointer-events: painted;
      position: absolute;
      top: 0;
      cursor: pointer;
      left: 0;
      background-color: rgba($gray-900, 0.5);
      width: 100%;
      height: 100vh;
    }
    &.#{$prefix}-active {
      z-index: 1;
      .#{$prefix}-links {
        transform: translateX(0%);
      }
      .#{$prefix}-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        will-change: transform;
        top: -5px;
        &::before {
          top: 10px;
          position: relative;
          transform: rotate(45deg);
        }
        &::after {
          transform: rotate(-45deg);
        }
      }
    }
    .#{$prefix}-toggle {
      width: 40px;
      height: 40px;
      padding: 10px;
      // top: 3px;

      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      flex-direction: column;
      gap: 6px;
      cursor: pointer;
      &::before {
        background-color: currentColor;
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 10px;
      }
      &::after {
        background-color: currentColor;
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 10px;
      }
    }
    .#{$prefix}-links {
      padding: 1rem 0px;
      transform: translateX(-150%);
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      gap: 0;
      height: 100vh;
      height: 100dvh;

      text-align: center;
      li {
        padding: 10px;
        background-color: inherit;
        &:hover {
          filter: brightness(1.1);
        }
      }
    }
  }
}
