---
import Layout from "../../layouts/Layout.astro";
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const docs = await getCollection("docs");
  return docs.map((page) => ({
    params: { slug: page.slug },
    props: { page },
  }));
}

interface Props {
  page: CollectionEntry<"docs">;
}

const { page } = Astro.props;

const { Content } = await page.render();
---

<Layout>
  <div class="flex ">
    <div class="sidebar flex bg-gray-100 flex-flow-col p-5 gap-2 ">
      <p>Why fruitUI ?</p>
      <p>installation</p>
      <p>fdaf</p>
      <p>fdaf</p>
    </div>
    <div class="container">
    <Content />
    </div>

  </div>
</Layout>
