main {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    .title {
      max-width: 40rem;
      margin: 0;
      padding-block: 5px;

      font-size: clamp(1rem, 10vw, 4rem);
      font-weight: 900;
      color: transparent;
      letter-spacing: -0.5px;

      background: linear-gradient(
        9deg,
        hsl(var(--darkest)) 53%,
        hsl(var(--medium)) 100%
      );
      background-clip: text;

      -webkit-text-fill-color: transparent;
    }

    .subtitle {
      max-width: 45rem;
      margin-bottom: 24px;

      font-size: clamp(1rem, 3vw, 2rem);
      font-weight: 500;
      color: hsl(var(--dark));
    }
  }
}
