@use "../node_modules/spices-fruitui/src/scss/lib/import/basket" as * with (
  $typography-util: false,
  $spacing-util: true,
  $align-util: true,
  $other-util: true,
  $size-util: false,
  $media-alignments: false,
  $media-flex-dir: false,
  $media-padding: false,
  $media-display: false,
  $media-margin: false,
  $media-font: false,
  $animPlugin: false,
  $flex: true,
  $grid: true,
  $pct: true,
  $ripple: false,
  $base: true,
  $base-components: true,
  $other-components: true,
  $awesome-components: true,
  $ui-colors: true
);

@include useShades(900,50);

// @include renderFrame("slideRight");

// .showup {
//   @include anim(slideBottom, .5s, ease);
// }

// @include renderFrame("slideTop");