main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    .title {
      background: linear-gradient(
        9deg,
        var(--accent-900) 53%,
        var(--accent-500) 100%
      );
      background-clip: text;
      font-size: clamp(1rem, 10vw, 4rem);
      color: transparent;
      font-weight: 900;
      letter-spacing: -0.5px;
      margin-bottom: 12px;
    }
    .subtitle {
      margin-bottom: 24px;
      font-size: clamp(1rem, 4vw, 2rem);
      font-weight: 500;
      color: var(--accent-700);
    }
  }
}
