@import "./base/base";
@import "./components/navbar";
@import "./components/breadcrumbs";
@import "./components/sidebar";
@import "./components/avatar";

.wtq-card-container-category {
  display: grid;
  gap: 1.3rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-top: 30px;

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .wtq-card {
    height: 100%;
    border: 1px solid var(--accent-200);
    background-color: var(--accent-20);
    border-radius: 20px;
    transition: all 200ms ease;
    padding: 25px;
    box-shadow: 0 10px 25px -5px rgb(0 0 0 / 0.05);

    .dark & {
      border-color: var(--accent-20);
    }

    &:hover {
      transform: translateY(-3%);
    }

    .wtq-card-title {
      color: var(--accent-800);
      font-weight: 600;
      line-height: 1.5;
      font-size: var(--font-md);
      margin: 0;
    }

    .wtq-card-subtitle {
      margin: 0;
      color: var(--accent-700);
      font-weight: 400;
      letter-spacing: 0.3pt;
      font-size: var(--font-xs);
    }
  }
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.sr-not-only {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

#skip {
  @extend .sr-only;

  &:focus-visible {
  @extend .sr-not-only;

    outline: none;
    z-index: 9999;
    position: absolute;
    display: block;
    background-color: var(--accent-50);
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid var(--accent-100);
    box-shadow: 0 8px 2px -6px #00000021;
    left: 10px;
    top: 10px;
  }
}

.wtq-post-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 692px;
  margin-top: 30px;
  gap: 1rem;

  @media screen and (max-width: 768px) {
    grid-template-columns: 550px;
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: 100%;
  }

  .dark & {
    border-color: var(--accent-20);
  }
}

.wtq-post {
  border: 1px solid var(--accent-200);
  background-color: var(--accent-20);
  border-radius: 20px;
  transition: all 200ms ease;
  padding: 25px;
  box-shadow: 0 10px 25px -5px rgb(0 0 0 / 0.05);
}

.wtq-post-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wtq-post-content {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.wtq-cover {
  border: 1px solid var(--accent-50);
  border-radius: 40px;
  aspect-ratio: 16/9;
  height: auto;
  box-shadow: 0 10px 25px -5px rgb(0 0 0 / 0.1);
}

.wtq-post-title {
  color: var(--accent-800);
  font-weight: 600;
  line-height: 1.5;
  font-size: var(--font-md);
  margin: 0;
}

.wtq-post-subtitle {
  margin: 0;
  color: var(--accent-700);
  font-weight: 400;
  letter-spacing: 0.3pt;
  font-size: var(--font-xs);
}



.wtq-page {
  display: flex;
  height: 100%;
}

.wtq-container {
  padding-inline: 15px;
  margin-inline: auto;
  width: 90%;
  max-width: 1400px;
}

.wtq-main-heading {
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
}



.wtq-content {
  overflow-y: auto;
  width: 100%;
  height: calc(100vh - 50px);
  padding-bottom: 40px;
}