.wtq-sidebar {
  display: flex;
  flex-direction: column;
  border-right: solid 1px #ccc;
  width: 300px;
  padding: 5px;
  .wtq-sidebar-category {
    margin-top: 15px;
    list-style: none;
    li {
      .wtq-sidebar-category-link {
        justify-content: space-between;
        display: flex;
        padding: 0px 0.1rem;
        width: 100%;
        color: #4b5563;
        padding: 5px 0.6rem;
        align-items: center;
        border-radius: 8px;
        font-weight: 500;
        cursor: pointer;
        font-size: 0.875rem;
        &:hover {
          background-color: rgba(0, 0, 16, 0.05);
        }
        .arrow-icon {
          transform: rotate(90deg);
          &.wtq-active {
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
}
