.wtq-sidebar {
  display: flex;
  flex-direction: column;
  border-right: solid 1px #ccc;
  width: 300px;
  padding: 5px;
  .wtq-sidebar-category {
    margin-top: 15px;
    list-style: none;
    .wtq-sidebar-category-link {
      color: #4b5563 !important;
      padding: 5px 0.6rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 6px;
      font-weight: 500;
      cursor: pointer;
      font-size: 0.875rem;
      .arrow-icon {
        transform: rotate(90deg);
        &.wtq-active {
          transform: rotate(-90deg);
        }
      }
      &:hover {
        background-color: rgba(0, 0, 16, 0.05);
      }
    }
  }
}