---
import { ViewTransitions } from "astro:transitions";
import "../docs.scss"
import "wtqcode/style";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <meta name="description" content="Fruit UI">
  <meta name="generator" content={Astro.generator} />
  <link rel="shortcut icon" href="/fruitUI.png" type="image/x-icon">
  <title>fruit UI a moduler styling framework</title>

  <ViewTransitions />

</head>
