---
import Navbar from "../components/Navbar.astro";
import Head from "./Head.astro";

interface Props {
  title: string;
  description: string;
  keywords?: string;
}

const { title, description, keywords } = Astro.props;
---

<html lang="en" dir="ltr">
  <Head title={title} description={description} keywords={keywords} />
  <body>
    <Navbar
      brand={{
        name: "fruitUI",
        logo: "/fruitUI.png",
      }}
    />
    <slot />
  </body>
</html>
