---
import { Navbar } from "wtqdocs";
import { Head } from "wtqdocs";
---

<html xml:lang="en" lang="en" dir="ltr" class="light">
  <Head />
  <body>
    <a id="skip" href="#main-content">skip to the main content</a>
    <Navbar />
    <div class="wtq-page">
      <div class="wtq-content">
        <div class="wtq-container" transition:animate="slide">
          <slot />
        </div>
      </div>
    </div>
  </body>
</html>
