---
import Navbar from "../components/Navbar.astro";
import Head from "./Head.astro";
import Sidebar from "./Sidebar.astro";

interface Props {
  sidebar: boolean;
  title: string;
  description: string;
  keywords?: string;
}

const { title, description, keywords, sidebar } = Astro.props;
---

<html xml:lang="en" lang="en" dir="ltr">
  <Head title={title} description={description} keywords={keywords} />
  <body>
    <a id="skip" href="#main-content">skip to the main content</a>
    <Navbar />
    <div class="wtq-page">
      {sidebar && <Sidebar />}
      <div class="wtq-container">
        <slot />
      </div>
    </div>
  </body>
</html>
