---
import Navbar from "../components/Navbar.astro";
import Head from "./Head.astro";
import WathqnyConfig from "../wathqny.config";

interface Props {
  title: string;
  description: string;
  keywords?: string;
}

const { navbar } = WathqnyConfig;

const { title, description, keywords } = Astro.props;
---

<html lang="en" dir="ltr">
  <Head title={title} description={description} keywords={keywords} />
  <body>
    <Navbar
      brand={{
        logo: navbar?.brand.logo,
        name: navbar?.brand.name,
      }}
      Items={navbar?.Items}
    />
    <slot />
  </body>
</html>
