---
import Navbar from "../components/Navbar.astro";
import Head from "./Head.astro";
import WathqnyConfig from "../wathqny.config";
import Sidebar from "./Sidebar.astro";

interface Props {
  sidebar: boolean;
  title: string;
  description: string;
  keywords?: string;
}

const { navbar } = WathqnyConfig;

const { title, description, keywords ,sidebar } = Astro.props;
---

<html lang="en" dir="ltr">
  <Head title={title} description={description} keywords={keywords} />
  <body>
    <Navbar
      brand={{
        logo: navbar?.brand.logo,
        name: navbar?.brand.name,
      }}
      Items={navbar?.Items}
    />
    <div class="wtq-page">
      {
        sidebar ? (
          <Sidebar />

        ): null
      }
      <div class="wtq-container">
        <slot />
      </div>
    </div>
  </body>
</html>
