---
import { getCollection } from "astro:content";
import ArrowIcon from "../components/ArrowIcon.astro";
const docs = await getCollection("docs");

const config = {
  categorys: ["intro", "compnents","hoss"],
};
---

{
  docs.map((doc) => {
    let arr: number[] = [];
    arr.push(doc.data.position);
    let sortedArr = arr.sort();
    {
      console.log([doc.data.position].concat([doc.data.position]));
    }
  })
}

<aside class="wtq-sidebar">
  <ul class="wtq-sidebar-category">
    {
      config.categorys.map((category) => {
        return (
          <li
            class="wtq-sidebar-category-link"
            aria-labelledby={category}
            aria-label={category}>
            <a id={category}>{category}</a>
            <ArrowIcon />
          </li>
        );
      })
    }
  </ul>
</aside>

<script>
  const categoryItems = document.querySelectorAll(".wtq-sidebar-category-link");
  const icon = document.querySelector(".wtq-sidebar-category-link .arrow-icon");

  categoryItems.forEach((categoryItem) => {
    categoryItem?.addEventListener("click", (e) => {
      icon?.classList.toggle("wtq-active");
    });
  });
</script>
