---
import { getCollection } from "astro:content";
import ArrowIcon from "../components/ArrowIcon.astro";
const docs = await getCollection("docs");

const config = {
  categorys: ["intro", "components", "hoss"],
};
---

{
  docs.map((doc) => {
    let arr: number[] = [];
    arr.push(doc.data.position);
    let sortedArr = arr.sort();
    {
      console.log(docs);
    }
  })
}

<aside class="wtq-sidebar">
  <ul class="wtq-sidebar-category">
    {
      config.categorys.map((category) => {
        return (
          <li role="button" aria-labelledby={category} aria-label={category}>
            <a href class="wtq-sidebar-category-link" id={category}>
              {category} <ArrowIcon />
            </a>
          </li>
        );
      })
    }
  </ul>
</aside>

<script>
  const categoryItems = document.querySelectorAll(".wtq-sidebar-category-link");

  categoryItems.forEach((categoryItem) => {
    categoryItem?.addEventListener("click", (e) => {
      const icon = categoryItem.querySelector(
        ".wtq-sidebar-category-link .arrow-icon"
      );
      icon?.classList.toggle("wtq-active");
    });
  });
</script>
