.wtq-post-container {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(0,692px);
  margin-top: 30px;
  gap: 1rem;
}

.wtq-post-head {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wtq-post-content {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.wtq-cover {
  border: 1px solid hsl(var(--light));
  border-radius: 20px;
  margin-inline: auto;
}

.wtq-shadow {
  filter: drop-shadow(1px 17px 15px #00000025);
}

