
.wtq-post-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 692px;
  margin-top: 30px;
  gap: 1rem;

  @media screen and (max-width: 768px) {
    grid-template-columns: 550px;
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: 100%;
  }
}
.wtq-post {
  border: 1px solid hsl(var(--lightest));
  border-radius: 20px;
  transition: all 200ms ease;
  padding: 25px;
  box-shadow: 0 10px 25px -5px rgb(0 0 0 / 0.05);
  .dark & {
    background-color: hsl(var(--dark), .1);
  }
}

.wtq-post-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  img {
    border-radius: 25px;
  }
}

.wtq-post-content {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.wtq-cover {
  border: 1px solid hsl(var(--light));
  border-radius: 40px;
  aspect-ratio: 16/9;
  height: auto;
  border-radius: 10px;
  margin-inline: auto;
  filter: drop-shadow(1px 17px 15px #00000025);
}

.wtq-post-title {
  color: hsl(var(--darkest));
  font-weight: 600;
  line-height: 1.5;
  font-size: var(--font-md);
  margin: 0;
}

.wtq-post-subtitle {
  margin: 0;
  color: hsl(var(--dark));
  font-weight: 400;
  letter-spacing: 0.3pt;
  font-size: var(--font-xs);
}




