.wtq-post-container {
  display: grid;
  grid-template-columns: minmax(0, 692px);
  gap: 1rem;
  justify-content: center;

  margin-top: 30px;
}

.wtq-post-head {
  display: flex;
  flex-direction: column;
  align-items: center;

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
    height: auto;
  }

  figure figcaption {
    margin-top: 1rem;
    font-style: italic;
    color: hsl(var(--dark), 0.8);
    word-break: break-all;
  }
}

.wtq-cover {
  height: auto;
  margin-inline: auto;
  border: 1px solid hsl(var(--light),.5);
  border-radius: 20px;
}

.wtq-shadow {
  box-shadow: 0 10px 9px -8px rgb(0 0 0 / 10%);
}



.wtq-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .pagination__link {
    .first-arrow {
      transform: scaleX(-1)
    }
    &.active {
      @extend .wtq-theme-color
    }
    @extend .wtq-btn, .wtq-alt;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

