.wtq-post-container {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(0,692px);
  margin-top: 30px;
  gap: 1rem;
}

.wtq-post-head {
  display: flex;
  align-items: center;
  flex-direction: column;
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
    height: auto;
  }

  figure figcaption {
    word-break: break-all;
    color: hsl(var(--dark), 0.8);
    font-style: italic;
    margin-top: 1rem;
  }
}

.wtq-cover {
  border: 1px solid hsl(var(--light));
  border-radius: 20px;
  margin-inline: auto;
}

.wtq-shadow {
  box-shadow: 0px 10px 9px -8px rgba(0, 0, 0, 0.1);
}

