:root :is(.dark) {
  --astro-code-color-text: #24292f;
  --astro-code-color-background: #ffffff;
  --astro-code-token-constant: #0550ae;
  --astro-code-token-string: #24292f;
  --astro-code-token-comment: #6e7781;
  --astro-code-token-keyword: #cf222e;
  --astro-code-token-parameter: #24292f;
  --astro-code-token-function: #8250df;
  --astro-code-token-string-expression: #0a3069;
  --astro-code-token-punctuation: #24292f;
  --astro-code-token-link: #000012;
}

:root {
  --astro-code-color-text: #c9d1d9;
  --astro-code-color-background: #0d1117;
  --astro-code-token-constant: #79c0ff;
  --astro-code-token-string: #a5d6ff;
  --astro-code-token-comment: #8b949e;
  --astro-code-token-keyword: #ff7b72;
  --astro-code-token-parameter: #c9d1d9;
  --astro-code-token-function: #d2a8ff;
  --astro-code-token-string-expression: #a5d6ff;
  --astro-code-token-punctuation: #c9d1d9;
  --astro-code-token-link: #000012;
}
:root {
  --shiki-color-text: #24292f;
  --shiki-color-background: #ffffff;
  --shiki-token-constant: #0550ae;
  --shiki-token-string: #24292f;
  --shiki-token-comment: #6e7781;
  --shiki-token-keyword: #cf222e;
  --shiki-token-parameter: #24292f;
  --shiki-token-function: #8250df;
  --shiki-token-string-expression: #0a3069;
  --shiki-token-punctuation: #24292f;
  --shiki-token-link: #000012;
}

:root :is(.dark) {
  --shiki-color-text: #c9d1d9;
  --shiki-color-background: #0d1117;
  --shiki-token-constant: #79c0ff;
  --shiki-token-string: #a5d6ff;
  --shiki-token-comment: #8b949e;
  --shiki-token-keyword: #ff7b72;
  --shiki-token-parameter: #c9d1d9;
  --shiki-token-function: #d2a8ff;
  --shiki-token-string-expression: #a5d6ff;
  --shiki-token-punctuation: #c9d1d9;
  --shiki-token-link: #000012;
}

.app {
  margin: 20px 0;
  filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.2));
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--shiki-color-background);
}
.app .header {
  display: flex;
  padding: 10px;
  gap: 10px;
}
.app .header .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.app .header .dot:nth-child(1) {
  background-color: #ed6b60;
}
.app .header .dot:nth-child(2) {
  background-color: #f5be4f;
}
.app .header .dot:nth-child(3) {
  background-color: #62c554;
}
pre {
  padding: 10px;
  border-radius: 10px;
}
.app .header + pre {
  padding: 10px;
  border-radius: 10px;
}
