$prefix: "wtq";

@import "./base/base.scss";
@import "./components/navbar.scss";
@import "./components/table.scss";

.wtq-avatar-contanier {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 1rem 0px;
  .wtq-avatar {
    border-radius: 50%;
  }
  .wtq-avatar-name {
    font-weight: 500;
    font-size: 20px;
  }
  .wtq-avatar-role {
    font-size: 18px;
    color: #374151;
  }
}

.wtq-breadcrumbs {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: inherit;
  .wtq-breadcrumb {
    font-size: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 3px 12px;
    border-radius: 5px;
    cursor: pointer;
    color: #374151;
    &:hover {
      background-color: #00000010;
    }
  }
  .wtq-breadcrumb-arrow {
    cursor: pointer;
  }
}
.wtq-page {
  display: flex;
}
.wtq-sidebar {
  display: flex;
  flex-direction: column;
  border-right: solid 1px #ccc;
  width: 300px;
  padding: 5px;
  ul {
    list-style: none;
    li {
      color: #4b5563 !important;
      padding: 5px .600rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 6px;
      font-weight: 500;
      cursor: pointer;
      font-size: .875rem;
      svg {
        transform: rotate(90deg);
      }
      &:hover {
        background-color: rgba(0, 0, 16, 0.050);
      }
    }
  }
}

