---
import { BaseLayout } from 'wtqdocs'
import '../custom.scss';
---

<BaseLayout>
  <main id="main-content">
    <section class="hero">
      <h1 class="title">404</h1>
      <p>
        page not found, <a
          style="cursor: pointer;"
          onclick="window.history.back()"
                        >go back</a
        >
      </p>
    </section>
  </main>
</BaseLayout>
