---
import { Image } from "astro:assets";
import { getCollection, type CollectionEntry } from "astro:content";
import { formatDate, BlogLayout } from "wtqdocs/blog";

const blog = await getCollection("blog");

interface Props {
  blog: CollectionEntry<"blog">;
}
---

<BlogLayout>
  <div class="wtq-post-container">
    {
      blog.map((post) => {
        return (
          <a href={"/blog/" + post.data.tags.toLowerCase() + post.data.href}>
            <div class="wtq-card">
              <h1 class="wtq-card-title">{post.data.title}</h1>
              <span class="wtq-card-subtitle">
                <time datetime={post.data.pubDate.toISOString()}>
                  {formatDate(post.data.pubDate)}
                </time>
              </span>
              <p class="wtq-post-content">{post.body.slice(0, 200)+'...'}</p>
              <Image
                class={"wtq-cover"}
                width={640}
                height={360}
                src={post.data.OGImage}
                alt={"dwad"}
              />
            </div>
          </a>
        );
      })
    }
  </div>
</BlogLayout>
