---
import { Image } from "astro:assets";
import { Debug } from "astro:components";
import { getCollection, type CollectionEntry } from "astro:content";
import { CodeBlock } from "wtqcode";
import { Head, Layout, Navbar } from "wtqdocs";
import { formatDate, BlogLayout } from "wtqdocs/blog";

const blog = await getCollection("blog");

interface Props {
  blog: CollectionEntry<"blog">;
}
---

<BlogLayout>
  
  <div class="wtq-post-container">
    {
      blog.map((post) => {
        return (
          <a href={"/blog/" + post.data.tags.toLowerCase() + post.data.href}>
            <div class="wtq-post">
              <span class="wtq-post-head">
                <h1 class="wtq-post-title">{post.data.title}</h1>
                <span>
                  <time datetime={post.data.pubDate.toISOString()}>
                    {formatDate(post.data.pubDate)}
                  </time>
                </span>
              </span>
              <p class="wtq-post-content">{post.data.description}</p>

              <Image
                class="wtq-cover"
                width={640}
                height={360}
                src={`/og.png`}
                alt={"dwad"}
              />
              
            </div>
          </a>
        );
      })
    }
  </div>
</BlogLayout>
