---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { CodeBlock } from "wtqcode";
import { Head, Layout, Navbar } from "wtqdocs";
import { formatDate } from "wtqdocs/blog";

const blog = await getCollection("blog");
---

<style lang="scss">
  .wtq-post-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 692px;
    @media screen and (max-width: 768px) {
      grid-template-columns: 550px;
    }
    @media screen and (max-width: 600px) {
      grid-template-columns: 450px;
    }
    margin-top: 30px;
    gap: 1rem;

    .wtq-post-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .wtq-post {
      border: 1px solid var(--accent-200);
      background-color: var(--accent-20);

      .wtq-post-content {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      border-radius: 20px;
      transition: all 200ms ease;
      padding: 25px;
      box-shadow: 0 10px 25px -5px rgb(0 0 0 / 0.05);
      .wtq-cover {
        border-radius: 20px;
        aspect-ratio: 16/9;
        height: auto;
      }

      .dark & {
        border-color: var(--accent-20);
      }
      .wtq-post-title {
        color: var(--accent-800);
        font-weight: 600;
        line-height: 1.5;
        font-size: var(--font-md);
        margin: 0;
      }

      .wtq-post-subtitle {
        margin: 0;
        color: var(--accent-700);
        font-weight: 400;
        letter-spacing: 0.3pt;
        font-size: var(--font-xs);
      }
    }
  }
</style>

<html>
  <Head />
  <Navbar />
  <div class="wtq-content">
    <div class="wtq-container">
      <div class="wtq-post-container">
        {
          blog.map((post) => {
            return (
              <div class="wtq-post">
                <span class="wtq-post-head">
                  <h1 class="wtq-post-title">{post.data.title}</h1>
                  <span>
                    <span>{formatDate(post.data.pubDate)}</span>
                  </span>
                </span>
                <h2 class="wtq-post-subtitle">{post.data.description}</h2>
                <p class="wtq-post-content">{post.body}</p>

                <img
                  class="wtq-cover"
                  width={640}
                  height={360}
                  src={`/og.png`}
                  alt={"dwad"}
                />
              </div>
            );
          })
        }
      </div>
    </div>
  </div>
</html>
