---
import WathqnyConfig from "../../wathqny.config";
import { Breadcrumbs, Layout } from "wtqdocs";

const { category } = WathqnyConfig;
---

<Layout title="docs" description="main docs page">
  <Breadcrumbs />
  <h1 class="wtq-main-heading">Categories</h1>

  <main class="anim-slide-botto" id="main-content">
    <div class="wtq-card-container-category">
      {
        category?.map((doc: string) => {
          return (
            <a href={"/docs/" + doc.toLowerCase()}>
              <div class="wtq-card wtq-shadow">
                <h2 class="wtq-card-title">{doc.replace("-", " ")}</h2>
              </div>
            </a>
          );
        })
      }
    </div>
  </main>
</Layout>
