---
import WathqnyConfig from 'config'
import { DocsLayout } from 'wtqdocs'

const { sidebar } = WathqnyConfig;
---

<DocsLayout title="docs" description="main docs page" heading="Categories">
  <div class="wtq-card-container-category">
    {
      sidebar?.map((doc) => {
        return (
          <a href={`/docs/${doc.id}`}>
            <div class="wtq-card wtq-shadow">
              <h2 class="wtq-card-title">{doc.label}</h2>
            </div>
          </a>
        )
      })
    }
  </div>
</DocsLayout>
