---
import WathqnyConfig from "config";
import { Breadcrumbs, Layout } from "wtqdocs";

const { sidebar } = WathqnyConfig;
---

<Layout title="docs" description="main docs page">
  <Breadcrumbs />
  <h1 class="wtq-main-heading">Categories</h1>

  <main class="anim-slide-botto" id="main-content">
    <div class="wtq-card-container-category">
      {
        sidebar?.map((doc) => {
          return (
            <a href={"/docs/" + doc.id}>
              <div class="wtq-card wtq-shadow">
                <h2 class="wtq-card-title">{doc.label}</h2>
              </div>
            </a>
          );
        })
      }
    </div>
  </main>
</Layout>
