---
import Layout from "../layouts/Layout.astro";
import { Code } from "wtqcode";
// import { Navbar } from "fruitui";

---

<Layout>
  <main>
    <div class="stage">sas</div>
  </main>
  <script>
    // import { Navbar } from "fruitui";
    //
    // Navbar();
    console.log("hello");
  </script>
</Layout>
