---
import Layout from "../layouts/Layout.astro";
import Code from "../components/Code.astro";
---

<Layout>
  <main>
    <div class="stage">
      <br />
      <Code code="console.log('hello')" lang="js" theme="dark-plus" />
    </div>
  </main>
  <script>
    import { Navbar } from "../../../../packages/ui/dist/js/fruit.js";
    Navbar();
  </script>
</Layout>
