---
import Layout from "../layouts/Layout.astro";
import { Code } from "wtqcode";
// import { Navbar } from "fruitui";
---

<Layout>
  <main>
    <div class="stage">
      <Code lang="js" code={`console.log('hello world')`} ></Code>
    </div>
  </main>
</Layout>