---
import Layout from "../layouts/Layout.astro";
import {Code} from "wtqcode";
// import Code from "../components/Code.astro";
---


<Layout>
  <main>
    <div class="stage mt-12">
      <Code lang="js" theme={"vitesse-dark"} code={`console.log('hello world')`} ></Code>
    </div>
  </main>
</Layout>