---
import Layout from "../layouts/Layout.astro";
import { CodeBlock } from "wtqcode";

// import Code from "../components/Code.astro";
// import CodeBlock from "wtqcode/astro";
---

<Layout>
  <main>
    <div class="stage mt-12">
      <CodeBlock  lang="js" code={`console.log('hello world !!!')`} />
    </div>
  </main>
</Layout>
