---
import Layout from "../layouts/Layout.astro";
---

<Layout title="fruit UI" 
description="fruit UI a moduler styling framework" >
  <main>
    <div class="stage mt-12"></div>
  </main>
</Layout>
