---
import Layout from "../layouts/Layout.astro";
import "../styles/custom.scss";
import { CodeBlock } from "wtqcode";
---

<Layout sidebar={false} title="fruit UI" description="fruit UI a modular styling framework">
  <main>
    <section class="hero">
      <h1 class="title">
        FruitUI a modular <br />
        <span class="text-blue-600">styling</span> framework
      </h1>
      <h2 class="subtitle">
        use the components you want,
        styles you need,
        <br> the performance you deserve
      </h2>
      <div class="get-started flex gap-5">
        <a href="/docs/getting-started/overview">
          <button class="btn primary">Get started</button>
        </a>
      </div>
    </section>
  </main>
</Layout>