---
import Layout from "../layouts/Layout.astro";
import { Code } from "wtqcode";
import "wtqcode/style";
---

<Layout>
  <main>
    <div class="stage">
      <Code
        code=
{`<!-- js -->
<script src="https://cdn.jsdelivr.net/npm/fruitui@0.2.0/dist/js/fruitui.html.min.js"></script>
<!-- css -->
<!-- main 👇 -->
<link href="https://cdn.jsdelivr.net/npm/fruitui@0.2.0/dist/css/fruitUI.min.css" rel="stylesheet">
<!-- main 👆 -->
<link href="https://cdn.jsdelivr.net/npm/fruitui@0.2.0/dist/css/base_components.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/fruitui@0.2.0/dist/css/other_components.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/fruitui@0.2.0/dist/css/awesome_components.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/fruitui@0.2.0/dist/css/flex.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/fruitui@0.2.0/dist/css/grid.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/fruitui@0.2.0/dist/css/pct.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/fruitui@0.2.0/dist/css/utilities.min.css" rel="stylesheet">`}
        lang="html"
      />
      <Code code="console.log('hello world!')" lang="js" />
    </div>
  </main>
  <script>
    // import { Navbar } from "fruitui";

    // Navbar();
  </script>
</Layout>
