---
import Layout from "../layouts/Layout.astro";
import Code from "../components/Code.astro";
---

<Layout>
  <main>
    <div class="stage">

    </div>
  </main>
  <script>
    import { Navbar } from "../../../../packages/ui/src/index.ts";
    Navbar();
  </script>
</Layout>
