---
import Layout from "../layouts/Layout.astro";
import "../styles/custom.scss";
import { CodeBlock } from "wtqcode";
import CardCell from "../components/CardCell.astro";

return Astro.redirect("/docs/getting-started/overview")
---

<Layout sidebar={false} title="fruit UI" description="fruit UI a modular styling framework">
  <main>
    <section class="hero">
      <h1 class="title">
        FruitUI a modular <br />
        <span class="text-blue-600">styling</span> framework
      </h1>
      <h2>
        use the components you want, styles you need, the performance you deserve
      </h2>
      <div class="get-started">
        <a href="/docs/overview">
          <button class="button">Get started</button>
        </a>
        <button class="button-outline">5 min's overview</button>
      </div>
    </section>
    <section class="features">
      <div class="container flex flex-flow-col">
        <h1 class="title">batteries everyware</h1>
        <h2 class="sub-heading mt-3">
          FruitUI is feature rich batterey included framewok
        </h2>
      </div>
      <legend title="batteries" class="container grid grid-cols-4 gap-3 my-10 py-5" style="border: 1px solid #d1d5db; border-radius: 10px;">
        <CardCell title="modular" />
        <CardCell title="components-rich" />
        <CardCell title="plugins" />
        <CardCell title="esay to use" />
        <CardCell title="sass api" />
        <CardCell title="plugins" />
        <CardCell title="beuteful UI" />
        <div style="pointer-events: none; opacity: .8; user-select: none;">

          <CardCell title="accesabilty 🚧" />
        </div>
      </legend>
    </section>

<div class="container">

</div>
  </main>
</Layout>