---
import Layout from "../layouts/Layout.astro";

---
<Layout>

  <main>
    <div class="stage">
      <br >


    </div>
  </main>
<script>
  import {Navbar} from "../../../packages/ui/dist/js/fruit.js"
  Navbar()
</script>
</Layout>

