---
import { CodeBlock } from "wtqcode";
import Layout from "~layouts/Layout.astro"
---

<Layout>
  <h1>wtq docs say hi!</h1>
  <CodeBlock  code="print('hello world')" lang="py" />
</Layout>

