.wtq-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  // max-width: 400px;
}

$accent-20: rgb(254, 254, 254) !default;
$accent-50: #fdfdfd !default;
$accent-100: #F4F4F5 !default;
$accent-200: #E4E4E7 !default;
$accent-300: #D4D4D8 !default;
$accent-400: #A1A1AA !default;
$accent-500: #71717A !default;
$accent-600: #52525B !default;
$accent-700: #3F3F46!default;
$accent-800: #27272A !default;
$accent-900: #18181B !default;
$accent-950: #0f0f11 !default;

$font-3xl: 2.986rem;
$font-2xl: 2.488rem;
$font-xl: 2.074rem;
$font-lg: 1.728rem;
$font-md: 1.44rem;
$font-sm: 1.2rem;
$font-xs: 1rem;

:root {
  --font-3xl: #{$font-3xl};
  --font-2xl: #{$font-2xl};
  --font-xl: #{$font-xl};
  --font-lg: #{$font-lg};
  --font-md: #{$font-md};
  --font-sm: #{$font-sm};
  --font-xs: #{$font-xs};
  --accent-20: #{$accent-20};
  --accent-50: #{$accent-50};
  --accent-100: #{$accent-100};
  --accent-200: #{$accent-200};
  --accent-300: #{$accent-300};
  --accent-400: #{$accent-400};
  --accent-500: #{$accent-500};
  --accent-600: #{$accent-600};
  --accent-700: #{$accent-700};
  --accent-800: #{$accent-800};
  --accent-900: #{$accent-900};
  --accent-950: #{$accent-950};
  --sidebar-border-color: #{rgba($accent-900, 0.2)};
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  src: url("/font/InterVariable.woff2");
  font-display: swap;
}

.dark {
  color-scheme: dark;
  --accent-50: #{$accent-900};
  --accent-20: #{$accent-800};
  --accent-100: #{$accent-800};
  --accent-200: #{$accent-700};
  --accent-300: #{$accent-600};
  --accent-400: #{$accent-500};
  --accent-500: #{$accent-400};
  --accent-600: #{$accent-300};
  --accent-700: #{$accent-200};
  --accent-800: #{$accent-100};
  --accent-900: #{$accent-50};

  --background-hover: #ffffff10;
  --sidebar-border-color: #{rgba($accent-200, 0.2)};
  background-color: var(--accent-50);
}

html,
body {
  color-scheme: light;
  scroll-behavior: smooth;
  color: var(--accent-900);
  font-size: 20px;
  height: 100%;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

a {
  color: inherit;
  text-decoration: none;
  &:focus-visible {
    text-decoration: underline;
  }
}

hr {
  border: 1px soild #dadada;
}

// type scaling baesed on 1.333 – Perfect Fourth
.h1,
h1 {
  line-height: 1.1;
  font-size: 2.986rem;
}
.h2,
h2 {
  line-height: 1.25;
  font-size: 2.488rem;
}
.h3,
h3 {
  line-height: 1.3;
  font-size: 2.074rem;
}
.h4,
h4 {
  line-height: 1.4;
  font-size: 1.728rem;
}
.h5,
h5 {
  line-height: 1.5;
  font-size: 1.44rem;
}
.h6,
h6 {
  line-height: 1.2;
  font-size: 1.2rem;
}

.p,
p {
  line-height: 1.3;
  font-weight: 400;
  font-size: 1rem;
}

small {
  font-size: 0.833rem;
}

.h1,
h1,
.h2,
h2 {
  font-weight: 800;
}

.h3,
h3,
.h4,
h4 {
  font-weight: 700;
}
.h5,
h5,
.h6,
h6 {
  font-weight: 600;
}

.wtq-page {
  display: flex;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
