---
import "../../../packages/ui/src/scss/lib/docs.scss"
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <meta name="description" content="Fruit UI">
  <meta name="generator" content={Astro.generator} />

  <title>Document</title>
</head>
