---
import { type CollectionEntry, getCollection } from "astro:content";
import { Breadcrumbs, Layout } from "wtqdocs";
import { slugify } from "wtqdocs/utils";

export async function getStaticPaths() {
  let docs = await getCollection("docs");

  return docs.map((doc) => {
    let documentLink =
      doc.data.category +
      (doc.data.href ?? "/" + slugify(doc.data.title));
    return {
      params: { documents: documentLink },
      props: { doc },
    };
  });
}

interface Props {
  doc: CollectionEntry<"docs">;
}

const { doc } = Astro.props;

const { Content } = await doc.render();
---

<Layout
  title={doc.data.title}
  description={doc.data.description}
  keywords={doc.data.title}>
  <Breadcrumbs />
  <main class="showup" id="main-content">
    <h1 class="wtq-main-heading">{doc.data.title}</h1>
    <Content />
  </main>
</Layout>
