---
import { getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import { Image } from 'astro:assets';

export async function getStaticPaths() {
  let docs = await getCollection("docs");

  return docs.map((doc) => {
    return {
      params: { slug: doc.slug },
      props: { doc },
    };
  });
}

interface Props {
  doc: CollectionEntry<"docs">;
}

const { doc } = Astro.props;
const { authors } = doc.data;

const authorData = await getEntry("authors", authors?.id);

const { Content } = await doc.render();
---

<Layout>
  <div class="container">
    <h1>{doc.data.title}</h1>
    <div class="flex gap-3 my-6 itmes-center">
      <Image class="w-3 h-3 block overflow-hidden br-full" width={48} height={48} src={authorData?.data.profile} alt="user avatar" />
      <div class="flex flex-flow-col">
        <h2 style="line-height: 1.4;"  class="font-sm text-gray-900">{authorData?.data.name}</h2>
        <h3 style="line-height: 1.2;" class="text-gray-700">{authorData?.data.role}</h3>
      </div>
    </div>
    <Content />
  </div>
</Layout>
