---
import Layout from "../../layouts/Layout.astro";
import { type CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  let docs = await getCollection("docs");

  return docs.map((page) => ({
    params: { slug: page.data.path },
    props: { page, docs },
  }));
}

interface Props {
  page: CollectionEntry<"docs">;
  docs: CollectionEntry<"docs">[];
}
const categorys: string[] = [];
const { page, docs } = Astro.props;

const { Content } = await page.render();
---

<Layout>
  <div class="flex">
    <div
      class="sidebar flex bg-gray-100 flex-flow-col px-8 py-5 gap-2 h-screen overflow-auto">
      {
        docs.map((doc) => {
          return (
            <>
              {categorys.includes(doc.data.category)
                ? null
                : (categorys.push(doc.data.category),
                  (<h3 class="text-gray-700">{doc.data.category}</h3>))}
              <a href={`${doc.data.path}`}>
                <p class="text-gray-700">{doc.data.title}</p>
              </a>
            </>
          );
        })
      }
    </div>
    <div class="container my-6 overflow-scroll h-screen" transition:animate="slide">
      <Content />
    </div>
  </div>
</Layout>
