.wtq-avatar-contanier {
  display: flex;
  gap: 10px;
  align-items: center;

  .wtq-avatar {
    border-radius: 50%;

    @media screen and (width <= 768px) {
      width: 40px;
      height: auto;
    }
  }

  div {
    line-height: 1.2;

    .wtq-avatar-name {
      margin: 0;
      font-size: 0.9rem;
      font-weight: 500;
      color: hsl(var(--darkest));
    }

    .wtq-avatar-role {
      margin: 0;

      font-size: 0.8rem;
      font-weight: 300;
      color: hsl(var(--dark));
      letter-spacing: 0.5pt;
    }

    @media screen and (width <= 768px) {
      display: none;
    }
  }
}
