
.wtq-avatar-contanier {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 1rem 0px;

  .wtq-avatar {
    @media screen and (max-width: 768px) {
      width: 40px;
      height: auto;
    }
    border-radius: 50%;
  }
  div {
    @media screen and (max-width: 768px) {
      display: none;
    }
    .wtq-avatar-name {
      color: var(--accent-900);
      margin: 0;
      line-height: 1.2;
      font-weight: 500;
      font-size: 0.9rem;
    }
    .wtq-avatar-role {
      margin: 0;
      line-height: 1.2;
      font-size: 0.8rem;
      font-weight: 300;
      letter-spacing: 0.5pt;
      color: var(--accent-600);
    }
  }
}