.wtq-breadcrumbs {
  user-select: none;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: var(--accent-800);
  list-style: none;
  li {
    align-items: center;
    display: flex;
  }
  .wtq-breadcrumb {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    gap: 5px;
    border-radius: 8px;
    cursor: pointer;
    color: var(--accent-600);
    &:hover,
    &:focus-visible {
      outline: none;
      background-color: var(--background-hover);
    }
  }
  .arrow-icon {
    color: var(--accent-800);
  }
}
