.wtq-breadcrumbs {
  user-select: none;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;

  font-weight: 300;
  color: hsl(var(--dark));
  list-style: none;

  li {
    display: flex;
    align-items: center;
  }

  .wtq-breadcrumb {
    cursor: pointer;

    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;

    padding: 6px 10px;

    font-size: 16px;
    color: inherit;
    text-decoration: none;

    border-radius: 8px;
  }

  @media screen and (width <=768px) {
    li {
      display: none;
    }

    .base-breadcrumb {
        display: flex;
        align-items: center;
      }
    }
}