.theme-switcher {
  background-color: transparent;
  border: 0;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  transition: all 200ms cubic-bezier(0.39, 0.575, 0.565, 1);
  svg {
    transition: inherit;
  }
  .dark-mode-moon {
    display: block;
  }
  .dark-mode-sun {
    display: none;
  }
}

.dark .theme-switcher {
  .dark-mode-moon {
    display: none;
  }
  .dark-mode-sun {
    display: block;
  }
}

.wtq-navbar {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 1rem;
  height: 50px;
  position: relative;
  background-color: hsl(var(--white));
  box-shadow: 0 5px 10px -8px #27272a26;
  .wtq-toggle-wrapper {
    display: flex;
  }
  .dark & {
    background-color: hsl(var(--black), 0.05);
  }
  .wtq-brand {
    padding: 3px 5px;
    border-radius: 0.3em;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    img {
      width: 30px;
      height: 30px;
    }
    span {
      font-weight: 600;
    }
  }
  .wtq-toggle {
    display: none;
  }
  .wtq-links {
    will-change: transform;
    align-items: center;
    list-style: none;
    padding: 0px 1rem;
    display: flex;
    gap: 1rem;
    li {
      line-height: 0;
      font-size: 0.875rem;
      cursor: pointer;
      a {
        padding: 3px 5px;
      }
    }
  }

  &-overlay {
    opacity: 0%;
    transition: all 300ms ease;
    position: absolute;
  }

  @media screen and (max-width: 768px) {
    .wtq-toggle {
      width: 40px;
      height: 40px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: end;
      transition: all ease 200ms;
      flex-direction: column;
      background-color: transparent;
      border: 0;
      gap: 6px;
      cursor: pointer;

      &::before,
      &::after {
        transition: inherit;
        background-color: currentColor;
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 10px;
      }
      &:hover::after {
        width: 20px;
      }
    }
    .wtq-links {
      padding: 0;
      .link-item {
        display: none;
      }
    }
  }
}
