.wtq-sidebar {
  width: 280px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50px;
  ul {
    padding: 0;
    list-style: none;
  }
  border-right: solid 1px hsl(var(--darkest), .1);
.sidebar_category {
    margin-top: 15px;
    .category_toggle {
      font-kerning: none;
      font-optical-sizing: none;
      justify-content: space-between;
      align-items: center;
      display: flex;
      width: 100%;
      color: hsl(var(--darkest));
      padding: 5px 0.6rem;
      font-weight: 600;
      .arrow-icon {
        width: 24px;
        height: 24px;
        transform: rotate(90deg);
      }
    }
    .category_collapse {
      overflow: hidden;
      max-height: 0;
      will-change: height, overflow;

      &.wtq-active {
        max-height: 100rem;
      }
      .collapse_item {
        padding-inline-start: 0.6rem;
        .collapse_item--link {
          border-radius: 8px;
          font-weight: 400;
          padding: 5px 0.6rem;
          color: hsl(var(--dark));
          display: block;
        }
      }
    }
    :is(.category_collapse, .category_toggle) {
      border: 0;
      user-select: none;
      border-radius: 8px;
      font-size: 0.875rem;
      background-color: transparent;
      cursor: pointer;
    }
  }
  .collapse-button {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    border-radius: 8px;
    padding: 5px 0.6rem;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
  }
}

.wtq-focusable {
  &:hover,
  &:focus-visible {
    outline: none !important;
    color: var(--darkest) !important;
    background-color: hsl(var(--medium), 0.1) !important;
  }
}

// .wtq-sidebar {
//   display: flex;
//   flex-direction: column;
//   border-right: solid 1px hsl(var(--darkest), .1);
//   width: 250px;
//   padding: 5px;
//   text-overflow: clip;
//   padding-bottom: 50px;
//   transition: all 250ms cubic-bezier(0.22, 1, 0.36, 1), background-color 0ms;

//   &[aria-expanded="true"] {
//     transition: 350ms cubic-bezier(0, 0.55, 0.45, 1);
//     width: 60px !important;
//   }

//   .wtq-aside-collapse {
//     width: 0;
//     height: 0;
//     overflow: hidden;
//     position: absolute;
//     pointer-events: none;
//     opacity: 0;
//   }

//   .wtq-collapse-button {
//     letter-spacing: 0.3pt;
//     background-color: transparent;
//     border: 0;
//     user-select: none;
//     display: flex;
//     width: 100%;
//     color: hsl(var(--darkest));
//     padding: 5px 0.6rem;
//     justify-content: center;
//     border-radius: 8px;
//     font-weight: 800;
//     cursor: pointer;
//     font-size: 0.875rem;
//     outline: none;

//     @media screen and (max-width: 768px) {
//       padding: 12px 1rem;
//       font-size: 1.1rem;
//     }
//   }

//   .wtq-active {
//     max-height: 100vh !important;
//   }

//   .wtq-sidebar-toggle {
//     display: none;
//   }

//   .wtq-sidebar-category {
//     margin-top: 15px;
//     height: 100vh;
//     list-style: none;

//     .wtq-sidebar-category-collapse {
//       transition: all 300ms cubic-bezier(0.2, 0, 0, 1);
//       will-change: max-height, height, overflow;
//       overflow: hidden;
//       max-height: 0;
//     }

//     li {
//       display: flex;
//       flex-direction: column;

//       .wtq-doc-list-item {
//         @media screen and (max-width: 768px) {
//           padding-inline-start: 20px;
//         }

//         padding-inline-start: 10px;
//         display: flex;

//         .wtq-doc-link {
//           @media screen and (max-width: 768px) {
//             padding: 8px 0.6rem;
//             font-size: 1rem;
//           }

//           outline: none;
//           border-radius: 8px;
//           font-size: 0.8rem;
//           font-weight: 500;
//           padding: 5px 0.6rem;
//           width: 100%;
//           color: hsl(var(--dark));
//         }
//       }

//       .wtq-sidebar-category-link {
//         letter-spacing: 0.3pt;
//         font-kerning: none;
//         font-optical-sizing: none;
//         background-color: transparent;
//         border: 0;
//         user-select: none;
//         justify-content: space-between;
//         display: flex;
//         width: 100%;
//         color: hsl(var(--dark));
//         padding: 5px 0.6rem;
//         align-items: center;
//         border-radius: 8px;
//         font-weight: 650;
//         cursor: pointer;
//         font-size: 0.875rem;
//         outline: none;

//         @media screen and (max-width: 768px) {
//           padding: 12px 1rem;
//           font-size: 1.1rem;
//         }
//         &.wtq-active .arrow-icon {
//           transform: rotate(-90deg);
//         }

//         .arrow-icon {
//           width: 24px;
//           height: 24px;
//           transition: transform ease 300ms;
//           transform: rotate(90deg);
//         }
//       }
//     }
//   }
//   .wtq-collapse-button {
//     margin: 15px 0px;
//     border: 0;
//     border-radius: 10px;
//     cursor: pointer;
//     background-color: transparent;
//     color: hsl(var(--darkest));
//     display: flex;
//     align-items: center;
//     transition: all 400ms ease;
//     &[aria-expanded="true"] {
//       height: 100%;
//     }
//   }
// }
