@charset "UTF-8";
@font-face {
  font-family: "Geist";
  font-weight: 100 900;
  src: url("/font/GeistVariableVF.woff2") format("woff2");
  font-display: swap;
}
:root {
  --font-lg: 1.728rem;
  --font-md: 1.44rem;
  --font-sm: 1.2rem;
  --font-xs: 1rem;
}
:root.light {
  color-scheme: light;
  --darkest: 240, 6%, 10%;
  --dark: 240, 5%, 26%;
  --medium: 240, 4%, 46%;
  --light: 240, 5%, 84%;
  --lightest: 240, 5%, 96%;
  --white: 0, 0%, 100%;
  --black: 240, 6%, 10%;
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --darkest: 240, 5%, 96%;
    --dark: 240, 5%, 84%;
    --medium: 240, 4%, 46%;
    --light: 240, 5%, 26%;
    --lightest: 240, 6%, 10%;
    --white: 240, 6%, 10%;
    --black: 0, 0%, 100%;
  }
}

:is(*, *::after, *::before) {
  box-sizing: border-box;
}

:where(html) {
  font-size: 20px;
}

:where(body) {
  overflow: hidden;
  line-height: 1.5;
  scroll-behavior: smooth;
  height: 100%;
  font-family: "Geist", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  margin: 0;
  color: hsl(var(--darkest));
  background-color: hsl(var(--white));
}

:where(hr) {
  height: 0;
  color: inherit;
  border: 1px solid #dadada;
}

:where(:is(code, kbd, samp, pre)) {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
  direction: ltr;
}

:where(pre) {
  padding: 15px 20px;
  border-radius: 10px;
  margin-block: 5px;
}

:where(:is(button, input, optgroup, select, textarea)) {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

:where(:is(button, [type=button], [type=reset], [type=submit])) {
  -webkit-appearance: button;
  appearance: button;
}

:where(:is(button, select)) {
  text-transform: none;
}

:where(:is(img, picture, video, canvas, svg)) {
  display: block;
  max-width: 100%;
  height: auto;
}

:where(figcaption) {
  word-break: break-all;
  color: hsl(var(--dark), 0.8);
  font-style: italic;
  margin-top: 1rem;
}

:where(table) {
  width: 100%;
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
  margin-bottom: 1rem;
}
:where(table) thead tr {
  border-bottom: 2px solid hsl(var(--light));
}
:where(table) :is(thead, tr:nth-child(2n)) {
  background-color: hsl(var(--light), 0.25);
}
:where(table) tr {
  background-color: transparent;
  border-top: 1px solid hsl(var(--light));
}
:where(table) :is(td, th) {
  border: 1px solid hsl(var(--light));
  padding: 0.75rem;
}
:where(table) :is(td, th):dir(rtl) {
  text-align: right;
}
:where(table) th {
  background-color: inherit;
  color: inherit;
  font-weight: 700;
}
:where(table) td {
  color: inherit;
}

:where(:is(ul[role=list], ol[role=list])) {
  list-style: none;
}

:where(:is(ul, ol)) {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

:where(:is(sub, sup)) {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

:where(sub) {
  bottom: -0.25em;
}

:where(sup) {
  top: -0.5em;
}

:where(:is(b, strong)) {
  font-weight: 800;
}

:where(blockquote) {
  display: flex;
  gap: 0.5rem;
  margin: 1rem;
}
:where(blockquote)::before {
  border-inline-start: solid 4px hsl(var(--medium));
  content: "";
}

:where(a) {
  color: inherit;
  text-decoration: none;
}
:where(a):focus-visible {
  text-decoration: underline;
}

:where(:is(h1, h2, h3, h4, h5, h6)) {
  text-wrap: balance;
}

:where(p) {
  text-wrap: pretty;
}

/* type scaling based on 1.333 – Perfect Fourth */
:where(:is(.h1, h1)) {
  margin: 3rem 0 0.5rem;
  line-height: 1.1;
  font-size: 2.986rem;
}

:where(:is(.h2, h2)) {
  margin: 1.5rem 0 0.5rem;
  line-height: 1.25;
  font-size: 2.488rem;
}

:where(:is(.h3, h3)) {
  margin: 2rem 0 0.5rem;
  line-height: 1.3;
  font-size: 2.074rem;
}

:where(:is(.h4, h4)) {
  line-height: 1.4;
  font-size: 1.728rem;
  margin: 2rem 0 1rem;
}

:where(:is(.h5, h5)) {
  font-size: 1.44rem;
  line-height: 1.5;
  margin: 2rem 0 1rem;
}

:where(:is(.h6, h6)) {
  margin: 2rem 0 1rem;
  line-height: 1.2;
  font-size: 1.2rem;
}

:where(:is(.h1, h1, .h2, h2)) {
  font-weight: 800;
}

:where(:is(.h3, h3, .h4, h4)) {
  font-weight: 700;
}

:where(:is(.h5, h5, .h6, h6)) {
  font-weight: 600;
}

:where(:is(.p, p)) {
  line-height: 1.3;
  font-weight: 400;
  font-size: 1rem;
}

:where(small) {
  font-size: 0.833rem;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.theme-switcher {
  background-color: transparent;
  border: 0;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  transition: all 200ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
.theme-switcher svg {
  transition: inherit;
}
.theme-switcher .dark-mode-moon {
  display: block;
}
.theme-switcher .dark-mode-sun {
  display: none;
}

.dark .theme-switcher .dark-mode-moon {
  display: none;
}
.dark .theme-switcher .dark-mode-sun {
  display: block;
}

.wtq-navbar {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 1rem;
  height: 50px;
  position: relative;
  background-color: hsl(var(--white));
  box-shadow: 0 5px 10px -8px rgba(39, 39, 42, 0.1490196078);
}
.dark .wtq-navbar {
  background-color: hsl(var(--black), 0.05);
}
.wtq-navbar .wtq-brand {
  padding: 3px 5px;
  border-radius: 0.3em;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.wtq-navbar .wtq-brand img {
  width: 30px;
  height: 30px;
}
.wtq-navbar .wtq-brand span {
  font-weight: 600;
}
.wtq-navbar .wtq-toggle {
  display: none;
}
.wtq-navbar .wtq-links {
  will-change: transform;
  align-items: center;
  list-style: none;
  padding: 0px 1rem;
  display: flex;
  gap: 1rem;
}
.wtq-navbar .wtq-links li {
  line-height: 0;
  font-size: 0.875rem;
  cursor: pointer;
}
.wtq-navbar .wtq-links li a {
  padding: 3px 5px;
}
.wtq-navbar-overlay {
  opacity: 0%;
  transition: all 300ms ease;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .wtq-active .wtq-navbar-overlay {
    opacity: 100%;
    display: block;
    top: 0;
    cursor: pointer;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4392156863);
    width: 100%;
    height: 100vh;
  }
  .wtq-navbar.wtq-active .wtq-links {
    transform: translateX(100%);
  }
  .wtq-navbar .wtq-toggle {
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
    transition: all ease 200ms;
    flex-direction: column;
    background-color: transparent;
    border: 0;
    gap: 6px;
    cursor: pointer;
  }
  .wtq-navbar .wtq-toggle::before, .wtq-navbar .wtq-toggle::after {
    transition: inherit;
    background-color: currentColor;
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 10px;
  }
  .wtq-navbar .wtq-toggle:hover::after {
    width: 20px;
  }
  .wtq-navbar .wtq-links {
    background-color: hsl(var(--lightest));
    transition: all 300ms ease;
    padding: 1rem 0px;
    transform: translateX(200%);
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    text-align: center;
  }
  .wtq-navbar .wtq-links li {
    padding: 10px;
  }
  .wtq-navbar .wtq-links .wtq-item-button {
    padding: 0;
  }
}

.wtq-breadcrumbs {
  user-select: none;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: hsl(var(--dark));
  list-style: none;
}
.wtq-breadcrumbs li {
  align-items: center;
  display: flex;
}
@media screen and (max-width: 768px) {
  .wtq-breadcrumbs li:not(:nth-child(-2)) {
    display: none !important;
  }
}
.wtq-breadcrumbs .wtq-breadcrumb {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  gap: 5px;
  border-radius: 8px;
  cursor: pointer;
}
.wtq-breadcrumbs .arrow-icon {
  margin-top: 2px;
}

.wtq-sidebar {
  width: 280px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50px;
  border-right: solid 1px hsl(var(--darkest), 0.1);
}
.wtq-sidebar ul {
  list-style: none;
}
.wtq-sidebar .sidebar_category {
  margin-top: 15px;
}
.wtq-sidebar .sidebar_category .category_toggle {
  font-kerning: none;
  font-optical-sizing: none;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
  color: hsl(var(--darkest));
  padding: 5px 0.6rem;
  font-weight: 600;
}
.wtq-sidebar .sidebar_category .category_toggle .arrow-icon {
  width: 24px;
  height: 24px;
  transform: rotate(90deg);
}
.wtq-sidebar .sidebar_category .category_collapse {
  overflow: hidden;
  max-height: 0;
  will-change: height, overflow;
}
.wtq-sidebar .sidebar_category .category_collapse.wtq-active {
  max-height: 100rem;
}
.wtq-sidebar .sidebar_category .category_collapse .collapse_item {
  padding-inline-start: 0.6rem;
}
.wtq-sidebar .sidebar_category .category_collapse .collapse_item .collapse_item--link {
  border-radius: 8px;
  font-weight: 400;
  padding: 5px 0.6rem;
  color: hsl(var(--dark));
  display: block;
}
.wtq-sidebar .sidebar_category :is(.category_collapse, .category_toggle) {
  border: 0;
  user-select: none;
  border-radius: 8px;
  font-size: 0.875rem;
  background-color: transparent;
  cursor: pointer;
}
.wtq-sidebar .collapse-button {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  border-radius: 8px;
  padding: 5px 0.6rem;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 10px;
}

.wtq-focusable:hover, .wtq-focusable:focus-visible {
  outline: none !important;
  color: var(--darkest) !important;
  background-color: hsl(var(--medium), 0.1) !important;
}

.wtq-avatar-contanier {
  display: flex;
  align-items: center;
  gap: 10px;
}
.wtq-avatar-contanier .wtq-avatar {
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .wtq-avatar-contanier .wtq-avatar {
    width: 40px;
    height: auto;
  }
}
.wtq-avatar-contanier div {
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .wtq-avatar-contanier div {
    display: none;
  }
}
.wtq-avatar-contanier div .wtq-avatar-name {
  color: hsl(var(--darkest));
  margin: 0;
  font-weight: 500;
  font-size: 0.9rem;
}
.wtq-avatar-contanier div .wtq-avatar-role {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.5pt;
  color: hsl(var(--dark));
}

.wtq-post-container {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(0, 692px);
  margin-top: 30px;
  gap: 1rem;
}

.wtq-post-head {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wtq-cover {
  border: 1px solid hsl(var(--light));
  border-radius: 20px;
  margin-inline: auto;
}

.wtq-shadow {
  box-shadow: 0px 10px 9px -8px rgba(0, 0, 0, 0.1);
}

.sr-only, #skip {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.sr-not-only, #skip:focus-visible {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

#skip:focus-visible {
  outline: none;
  z-index: 9999;
  margin: 0.75rem;
  position: absolute;
  background-color: white;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid hsl(var(--light));
  box-shadow: 0px 10px 9px -8px rgba(0, 0, 0, 0.1);
}
.dark #skip:focus-visible {
  background-color: hsl(var(--lightest));
  border: 1px solid hsl(var(--light));
}

.wtq-page {
  display: flex;
  height: 100%;
  contain: layout;
}

.wtq-container {
  padding-inline: 15px;
  margin-inline: auto;
  width: 90%;
  max-width: 1400px;
}

.wtq-main-heading {
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.wtq-content {
  overflow-y: auto;
  width: 100%;
  height: calc(100vh - 50px);
  padding-bottom: 40px;
}

.wtq-card-container-category {
  display: grid;
  gap: 1.3rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .wtq-card-container-category {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.wtq-card {
  border: 1px solid hsl(var(--light), 0.5);
  background-color: hsl(var(--white));
  border-radius: 20px;
  transition: all 200ms ease;
  padding: 25px;
}
.dark .wtq-card {
  border-color: hsl(var(--lightest));
  background-color: hsl(var(--light), 0.3);
}
.wtq-card:hover {
  transform: translateY(-5px);
}
.wtq-card .wtq-card-title {
  color: hsl(var(--darkest));
  font-weight: 600;
  line-height: 1.5;
  font-size: var(--font-lg);
  margin: 0;
}
.wtq-card .wtq-card-subtitle {
  margin: 0;
  color: hsl(var(--dark));
  font-weight: 400;
  font-size: var(--font-xs);
}

/*# sourceMappingURL=wathqny.css.map */
