@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  src: url("/font/InterVariable.woff2") format("woff2");
  font-display: optional;
}
:root {
  --font-3xl: 2.986rem;
  --font-2xl: 2.488rem;
  --font-xl: 2.074rem;
  --font-lg: 1.728rem;
  --font-md: 1.44rem;
  --font-sm: 1.2rem;
  --font-xs: 1rem;
  color: var(--accent-900);
  background-color: var(--body-background);
  color-scheme: light dark;
}
:root.light {
  color-scheme: light;
  --accent-20: rgb(254, 254, 254);
  --accent-50: #fdfdfd;
  --accent-100: #f4f4f5;
  --accent-200: #e4e4e7;
  --accent-300: #d4d4d8;
  --accent-400: #a1a1aa;
  --accent-500: #71717a;
  --accent-600: #52525b;
  --accent-700: #3f3f46;
  --accent-800: #27272a;
  --accent-900: #18181b;
  --accent-950: #0f0f11;
  --background-hover: #00000010;
  --body-background: white;
  --navbar-background: white;
  --sidebar-border-color: rgba(24, 24, 27, 0.2);
}
@media (prefers-color-scheme: light) {
  :root {
    --accent-20: rgb(254, 254, 254);
    --accent-50: #fdfdfd;
    --accent-100: #f4f4f5;
    --accent-200: #e4e4e7;
    --accent-300: #d4d4d8;
    --accent-400: #a1a1aa;
    --accent-500: #71717a;
    --accent-600: #52525b;
    --accent-700: #3f3f46;
    --accent-800: #27272a;
    --accent-900: #18181b;
    --accent-950: #0f0f11;
    --background-hover: #00000010;
    --body-background: white;
    --navbar-background: white;
    --sidebar-border-color: rgba(24, 24, 27, 0.2);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --accent-50: #18181b;
    --accent-20: #27272a;
    --accent-100: #27272a;
    --accent-200: #3f3f46;
    --accent-300: #52525b;
    --accent-400: #71717a;
    --accent-500: #a1a1aa;
    --accent-600: #d4d4d8;
    --accent-700: #e4e4e7;
    --accent-800: #f4f4f5;
    --accent-900: #fdfdfd;
    --background-hover: #ffffff10;
    --body-background: #18181b;
    --navbar-background: #252529;
    --sidebar-border-color: rgba(253, 253, 253, 0.2);
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  word-wrap: break-word;
  overflow: hidden;
  line-height: 1.5;
  scroll-behavior: smooth;
  font-size: 20px;
  height: 100%;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  -moz-tab-size: 4;
  tab-size: 4;
  margin: 0;
}

hr {
  height: 0;
  color: inherit;
}

b,
strong {
  font-weight: 800;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

pre {
  padding: 15px 20px;
  border-radius: 10px;
  margin-block: 5px;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  appearance: button;
}

button,
select {
  text-transform: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

#root,
#__next {
  isolation: isolate;
}

a {
  color: inherit;
  text-decoration: none;
}
a:focus-visible {
  text-decoration: underline;
}

hr {
  border: 1px solid #dadada;
}

.h1,
h1 {
  margin: 3rem 0 0.5rem;
  line-height: 1.1;
  font-size: 2.986rem;
}

.h2,
h2 {
  margin: 2rem 0 0.5rem;
  line-height: 1.25;
  font-size: 2.488rem;
}

.h3,
h3 {
  margin: 2rem 0 0.5rem;
  line-height: 1.3;
  font-size: 2.074rem;
}

.h4,
h4 {
  line-height: 1.4;
  font-size: 1.728rem;
  margin: 2rem 0 1rem;
}

.h5,
h5 {
  font-size: 1.44rem;
  line-height: 1.5;
  margin: 2rem 0 1rem;
}

.h6,
h6 {
  margin: 2rem 0 1rem;
  line-height: 1.2;
  font-size: 1.2rem;
}

.p,
p {
  line-height: 1.3;
  font-weight: 400;
  font-size: 1rem;
}

small {
  font-size: 0.833rem;
}

.h1,
h1,
.h2,
h2 {
  font-weight: 800;
}

.h3,
h3,
.h4,
h4 {
  font-weight: 700;
}

.h5,
h5,
.h6,
h6 {
  font-weight: 600;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.theme-switcher {
  background-color: transparent;
  border: 0;
  padding: 10px;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  cursor: pointer;
  transition: all ease 200ms;
  user-select: none;
  border-radius: 50%;
  transition: all 200ms ease-out;
}
.theme-switcher:hover, .theme-switcher:focus-visible {
  background-color: var(--background-hover);
}
.theme-switcher svg {
  transition: inherit;
  transform: rotate(180deg);
}
.theme-switcher svg path {
  d: path("M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z");
}

:root.dark .theme-switcher svg {
  transform: rotate(0deg);
}
:root.dark .theme-switcher svg path {
  d: path("M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z");
}

.wtq-navbar {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 1rem;
  height: 50px;
  position: relative;
  background-color: var(--navbar-background);
  box-shadow: 0 10px 10px -8px rgba(39, 39, 42, 0.1490196078);
}
.wtq-navbar .wtq-brand {
  padding: 3px 5px;
  border-radius: 0.3em;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.wtq-navbar .wtq-brand img {
  width: 30px;
  height: 30px;
}
.wtq-navbar .wtq-brand span {
  font-weight: 600;
}
.wtq-navbar .wtq-toggle {
  display: none;
}
.wtq-navbar .wtq-links {
  will-change: transform;
  align-items: center;
  list-style: none;
  padding: 0px 1rem;
  display: flex;
  gap: 1rem;
  background-color: inherit;
}
.wtq-navbar .wtq-links li {
  line-height: 0;
  font-size: 0.875rem;
  cursor: pointer;
}
.wtq-navbar .wtq-links li a {
  padding: 3px 5px;
}
.wtq-navbar-overlay {
  opacity: 0%;
  transition: all 300ms ease;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .wtq-active .wtq-navbar-overlay {
    opacity: 100%;
    display: block;
    top: 0;
    cursor: pointer;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4392156863);
    width: 100%;
    height: 100vh;
  }
  .wtq-navbar.wtq-active .wtq-links {
    transform: translateX(100%);
  }
  .wtq-navbar .wtq-toggle {
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
    transition: all ease 200ms;
    flex-direction: column;
    background-color: transparent;
    border: 0;
    gap: 6px;
    cursor: pointer;
  }
  .wtq-navbar .wtq-toggle::before, .wtq-navbar .wtq-toggle::after {
    transition: inherit;
    background-color: currentColor;
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 10px;
  }
  .wtq-navbar .wtq-toggle:hover::after {
    width: 20px;
  }
  .wtq-navbar .wtq-links {
    transition: all 300ms ease;
    padding: 1rem 0px;
    transform: translateX(200%);
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    gap: 0;
    height: 100vh;
    height: 100dvh;
    text-align: center;
  }
  .wtq-navbar .wtq-links li {
    padding: 10px;
    background-color: inherit;
  }
}

.wtq-avatar-contanier {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 1rem 0px;
}
.wtq-avatar-contanier .wtq-avatar {
  border-radius: 50%;
}
.wtq-avatar-contanier div .wtq-avatar-name {
  color: var(--accent-900);
  margin: 0;
  line-height: 1.2;
  font-weight: 500;
  font-size: 0.9rem;
}
.wtq-avatar-contanier div .wtq-avatar-role {
  margin: 0;
  line-height: 1.2;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.5pt;
  color: var(--accent-600);
}

.wtq-breadcrumbs {
  user-select: none;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: var(--accent-800);
  list-style: none;
}
.wtq-breadcrumbs li {
  align-items: center;
  display: flex;
}
.wtq-breadcrumbs .wtq-breadcrumb {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  gap: 5px;
  border-radius: 8px;
  cursor: pointer;
  color: var(--accent-600);
}
.wtq-breadcrumbs .wtq-breadcrumb:hover, .wtq-breadcrumbs .wtq-breadcrumb:focus-visible {
  outline: none;
  background-color: var(--background-hover);
}
.wtq-breadcrumbs .arrow-icon {
  color: var(--accent-800);
}

.wtq-sidebar {
  display: flex;
  flex-direction: column;
  border-right: solid 1px var(--sidebar-border-color);
  width: 250px;
  padding: 5px;
  background-color: var(--body-background);
  text-overflow: clip;
  padding-bottom: 50px;
}
.wtq-sidebar .wtq-collapse-button {
  letter-spacing: 0.3pt;
  font-kerning: none;
  font-optical-sizing: none;
  background-color: transparent;
  border: 0;
  user-select: none;
  justify-content: space-between;
  display: flex;
  width: 100%;
  color: var(--accent-700);
  padding: 5px 0.6rem;
  justify-content: center;
  border-radius: 8px;
  font-weight: 650;
  cursor: pointer;
  font-size: 0.875rem;
  outline: none;
}
@media screen and (max-width: 768px) {
  .wtq-sidebar .wtq-collapse-button {
    padding: 12px 1rem;
    font-size: 1.1rem;
  }
}
.wtq-sidebar .wtq-collapse-button:hover, .wtq-sidebar .wtq-collapse-button:focus-visible {
  background-color: var(--background-hover);
}
.wtq-sidebar .wtq-active {
  max-height: 100% !important;
}
.wtq-sidebar.wtq-sidebar-active {
  opacity: 0;
  pointer-events: none;
  border: 0;
  width: 0px;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  .wtq-sidebar {
    transform: translateX(-100%);
    position: absolute;
    top: 0;
    left: 0;
  }
  .wtq-sidebar .wtq-sidebar-toggle {
    margin-inline-start: 15px;
    display: flex !important;
  }
  .wtq-sidebar.wtq-sidebar-active {
    opacity: 100%;
    pointer-events: all;
    border: 0;
    overflow: auto;
    z-index: 1;
    border-right: solid 1px var(--sidebar-border-color);
    width: 100%;
    transform: translateX(0%);
  }
}
.wtq-sidebar .wtq-sidebar-toggle {
  display: none;
}
.wtq-sidebar .wtq-sidebar-category {
  margin-top: 15px;
  height: 100vh;
  list-style: none;
}
.wtq-sidebar .wtq-sidebar-category .wtq-sidebar-category-collapse {
  transition: max-height 450ms cubic-bezier(0.2, 0, 0, 1), color 0ms;
  will-change: max-height, height, overflow;
  overflow: hidden;
  max-height: 0px;
}
.wtq-sidebar .wtq-sidebar-category li {
  display: flex;
  flex-direction: column;
}
.wtq-sidebar .wtq-sidebar-category li .wtq-doc-list-item {
  padding-inline-start: 10px;
  display: flex;
}
@media screen and (max-width: 768px) {
  .wtq-sidebar .wtq-sidebar-category li .wtq-doc-list-item {
    padding-inline-start: 20px;
  }
}
.wtq-sidebar .wtq-sidebar-category li .wtq-doc-list-item .wtq-doc-link {
  outline: none;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 5px 0.6rem;
  width: 100%;
  color: var(--accent-600);
}
@media screen and (max-width: 768px) {
  .wtq-sidebar .wtq-sidebar-category li .wtq-doc-list-item .wtq-doc-link {
    padding: 8px 0.6rem;
    font-size: 1rem;
  }
}
.wtq-sidebar .wtq-sidebar-category li .wtq-doc-list-item .wtq-doc-link:hover, .wtq-sidebar .wtq-sidebar-category li .wtq-doc-list-item .wtq-doc-link:focus {
  color: var(--accent-700);
  background-color: var(--background-hover);
}
.wtq-sidebar .wtq-sidebar-category li .wtq-sidebar-category-link {
  letter-spacing: 0.3pt;
  font-kerning: none;
  font-optical-sizing: none;
  background-color: transparent;
  border: 0;
  user-select: none;
  justify-content: space-between;
  display: flex;
  width: 100%;
  color: var(--accent-700);
  padding: 5px 0.6rem;
  align-items: center;
  border-radius: 8px;
  font-weight: 650;
  cursor: pointer;
  font-size: 0.875rem;
  outline: none;
}
@media screen and (max-width: 768px) {
  .wtq-sidebar .wtq-sidebar-category li .wtq-sidebar-category-link {
    padding: 12px 1rem;
    font-size: 1.1rem;
  }
}
.wtq-sidebar .wtq-sidebar-category li .wtq-sidebar-category-link:hover, .wtq-sidebar .wtq-sidebar-category li .wtq-sidebar-category-link:focus-visible {
  background-color: var(--background-hover);
}
.wtq-sidebar .wtq-sidebar-category li .wtq-sidebar-category-link.wtq-active .arrow-icon {
  transform: rotate(-90deg);
}
.wtq-sidebar .wtq-sidebar-category li .wtq-sidebar-category-link .arrow-icon {
  width: 24px;
  height: 24px;
  transition: transform ease 300ms;
  transform: rotate(90deg);
}

.wtq-page {
  display: flex;
  height: 100%;
}

.wtq-container {
  padding-inline: 15px;
  margin-inline: auto;
  width: 100%;
}
@media screen and (min-width: 600px) {
  .wtq-container {
    max-width: 550px;
  }
}
@media screen and (min-width: 850px) {
  .wtq-container {
    max-width: 700px;
  }
}
@media screen and (min-width: 1000px) {
  .wtq-container {
    max-width: 650px;
  }
}
@media screen and (min-width: 1200px) {
  .wtq-container {
    max-width: 900px;
  }
}
@media screen and (min-width: 1500px) {
  .wtq-container {
    max-width: 1200px;
  }
}

.wtq-main-heading {
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.dark .browser-app {
  background-color: #f4f4f5;
}

.browser-app {
  border: 1px solid #e4e4e7;
  background-color: #fdfdfd;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.05), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  margin: 50px 0;
  border-radius: 10px;
}

.browser-app .header {
  display: flex;
  padding: 15px 20px;
  gap: 10px;
}

.browser-app .header .dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.browser-app .header .dot:nth-child(1) {
  background-color: #ed6b60;
}

.browser-app .header .dot:nth-child(2) {
  background-color: #f5be4f;
}

.browser-app .header .dot:nth-child(3) {
  background-color: #62c554;
}

.sr-only, #skip {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.sr-not-only, #skip:focus-visible {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.dark #skip:focus-visible {
  background-color: #27272a;
  border: 1px solid #3f3f46;
}

#skip:focus-visible {
  outline: none;
  z-index: 9999;
  position: absolute;
  display: block;
  background-color: #fdfdfd;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #d4d4d8;
  box-shadow: 0 8px 2px -6px rgba(0, 0, 0, 0.1294117647);
  left: 20px;
  top: 20px;
}

.wtq-card-container-category {
  display: grid;
  gap: 1.3rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .wtq-card-container-category {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.wtq-card-container-category .wtq-card {
  height: 100%;
  border: 1px solid var(--accent-200);
  background-color: var(--accent-20);
  border-radius: 20px;
  transition: all 200ms ease;
  padding: 25px;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.05);
}
.dark .wtq-card-container-category .wtq-card {
  border-color: var(--accent-20);
}
.wtq-card-container-category .wtq-card:hover {
  transform: translateY(-3%);
}
.wtq-card-container-category .wtq-card .wtq-card-title {
  color: var(--accent-800);
  font-weight: 600;
  line-height: 1.5;
  font-size: var(--font-md);
  margin: 0;
}
.wtq-card-container-category .wtq-card .wtq-card-subtitle {
  margin: 0;
  color: var(--accent-700);
  font-weight: 400;
  letter-spacing: 0.3pt;
  font-size: var(--font-xs);
}

.wtq-post-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 692px;
  margin-top: 30px;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .wtq-post-container {
    grid-template-columns: 550px;
  }
}
@media screen and (max-width: 600px) {
  .wtq-post-container {
    grid-template-columns: 100%;
  }
}
.dark .wtq-post-container {
  border-color: var(--accent-20);
}

.wtq-post {
  border: 1px solid var(--accent-200);
  background-color: var(--accent-20);
  border-radius: 20px;
  transition: all 200ms ease;
  padding: 25px;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.05);
}

.wtq-post-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wtq-post-content {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.wtq-cover {
  border: 1px solid var(--accent-50);
  border-radius: 40px;
  aspect-ratio: 16/9;
  height: auto;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1);
}

.wtq-post-title {
  color: var(--accent-800);
  font-weight: 600;
  line-height: 1.5;
  font-size: var(--font-md);
  margin: 0;
}

.wtq-post-subtitle {
  margin: 0;
  color: var(--accent-700);
  font-weight: 400;
  letter-spacing: 0.3pt;
  font-size: var(--font-xs);
}

.wtq-sidebar-toggle {
  padding: 0 5px;
  margin: 15px 0px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  color: var(--accent-800);
}

.wtq-content {
  overflow-y: auto;
  width: 100%;
  height: calc(100vh - 50px);
  padding-bottom: 40px;
}

/*# sourceMappingURL=wathqny.css.map */
