@use "../../../../packages/fruitui/src/scss/lib/import/basket" as * with (
  $typography-util: false,
  $spacing-util: true,
  $align-util: false,
  $other-util: false,
  $size-util: false,
  $media-alignments: false,
  $media-flex-dir: false,
  $media-padding: false,
  $media-display: false,
  $media-margin: false,
  $media-font: false,
  $animPlugin: false,
  $flex: true,
  $grid: true,
  $pct: true,
  $ripple: false,
  $base: true,
  $base-components: true,
  $other-components: true,
  $awesome-components: true,
  $ui-colors: true
);

// @include renderFrame("slideRight");

// @include renderFrame("slideBottom");
// @include renderFrame("slideTop");