$prefix: "wtq";

@import "./base/base";
@import "./components/navbar";
@import "./components/avatar";
@import "./components/breadcrumbs";
@import "./components/table";
@import "./layout/sidebar";

.wtq-page {
  display: flex;
  height: 100%;
}

.wtq-container {
  padding-inline: 15px;
  margin-inline: auto;
  width: 100%;

  @media screen and (min-width: 600px) {
    max-width: 550px;
  }

  @media screen and (min-width: 850px) {
    max-width: 700px;
  }

  @media screen and (min-width: 1000px) {
    max-width: 650px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 900px;
  }

  @media screen and (min-width: 1500px) {
    max-width: 1200px;
  }
}


.wtq-main-heading {
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.dark .browser-app {
  background-color: $accent-100;
}

.browser-app {
  border: 1px solid $accent-200;
  background-color: $accent-50;
  box-shadow:
    0 10px 25px -5px rgb(0 0 0 / 0.05),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  margin: 50px 0;
  border-radius: 10px;
}

.browser-app .header {
  display: flex;
  padding: 15px 20px;
  gap: 10px;
}

.browser-app .header .dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.browser-app .header .dot:nth-child(1) {
  background-color: #ed6b60;
}

.browser-app .header .dot:nth-child(2) {
  background-color: #f5be4f;
}

.browser-app .header .dot:nth-child(3) {
  background-color: #62c554;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.sr-not-only {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.dark #skip {
  &:focus-visible {
    background-color: $accent-800;
    border: 1px solid $accent-700;
  }
}

#skip {
  @extend .sr-only;

  &:focus-visible {
    outline: none;
    z-index: 9999;
    position: absolute;
    display: block;
    background-color: $accent-50;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid $accent-300;
    box-shadow: 0 8px 2px -6px #00000021;
    left: 20px;
    top: 20px;
    @extend .sr-not-only;
  }
}

.wtq-card-container {
  display: grid;
  gap: 1.3rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  // grid-template-rows: repeat(1, 1fr);
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  margin-top: 30px;

  .wtq-card {
    height: 100%;
    border: 1px solid var(--accent-200);
    background-color: var(--accent-20);
    border-radius: 20px;
    transition: all 200ms ease;
    padding: 25px;
    box-shadow: 0 10px 25px -5px rgb(0 0 0 / 0.08);

    .dark & {
      border-color: var(--accent-20);
    }

    &:hover {
      transform: translateY(-3%);
    }

    .wtq-card-title {
      color: var(--accent-800);
      font-weight: 600;
      line-height: 1.5;
      font-size: var(--font-md);
      margin: 0;
    }

    .wtq-card-subtitle {
      margin: 0;
      color: var(--accent-700);
      font-weight: 400;
      letter-spacing: 0.3pt;
      font-size: var(--font-xs);
    }
  }
}

.wtq-sidebar-toggle {
  padding: 0 5px;
  margin: 15px 0px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  color: var(--accent-800);
}

.wtq-content {
  overflow-y: auto;
  width: 100%;
  margin-bottom: 50px;
}