---
import { type CollectionEntry, getCollection } from "astro:content";
import { Breadcrumbs, CategoryCards, Layout } from "wtqdocs";

export async function getStaticPaths() {
  let blog = await getCollection("blog");

  return blog.map((post) => {
    return {
      params: { tags: post.data.tags.toLowerCase() },
      props: { post },
    };
  });
}

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---

<Layout
  title={post.data.tags}
  description={post.data.description}
  keywords={post.data.title}>
  <Breadcrumbs />
  <main class="anim-slide-botto" id="main-content">
    <h1 class="wtq-main-heading">{post.data.tags.replace("-", " ")}</h1>
    
  </main>
</Layout>
